## Tải dữ liệu

In [ ]:
import pandas as pd
import numpy as np
import requests
import gzip
import shutil

In [2]:
url1 = "https://legacy.xenahubs.net/download/TCGA.PANCAN.sampleMap/HiSeqV2.gz"
url2 = "https://pancanatlas.xenahubs.net/download/TCGA_phenotype_denseDataOnlyDownload.tsv.gz"


response1 = requests.get(url1)
with open("GDCdata/HiSeqV2.gz", "wb") as file1:
    file1.write(response1.content)

response2 = requests.get(url2)
with open("GDCdata/TCGA_phenotype_denseDataOnlyDownload.tsv.gz", "wb") as file2:
    file2.write(response2.content)

In [4]:
with gzip.open('GDCdata/HiSeqV2.gz', 'rb') as f_in:
    with open('GDCdata/HiSeqV2', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)


with gzip.open('GDCdata/TCGA_phenotype_denseDataOnlyDownload.tsv.gz', 'rb') as f_in:
    with open('GDCdata/TCGA_phenotype_denseDataOnlyDownload.tsv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [2]:
data = 'GDCdata/HiSeqV2'
labels = 'GDCdata/TCGA_phenotype_denseDataOnlyDownload.tsv'

In [3]:
df = pd.read_csv(data, sep='\t').transpose()

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20520,20521,20522,20523,20524,20525,20526,20527,20528,20529
Sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-S9-A7J2-01,10.9576,4.8099,0.4657,11.2675,10.1761,10.4769,13.0456,3.2299,0.4657,8.7533,...,0.0,1.3357,2.9741,0.0,9.2594,9.4779,6.1595,9.6465,0.0,9.4848
TCGA-G3-A3CH-11,11.0186,5.3847,0.0,11.669,11.398,10.8249,11.5487,3.5408,1.4714,7.9144,...,0.0,3.5408,5.5302,0.0,7.5066,10.5302,7.3741,13.0045,7.0466,10.3411
TCGA-EK-A2RE-01,9.7106,2.8888,0.4192,11.4903,11.7371,9.9473,10.841,2.5988,0.0,3.9541,...,0.7436,0.0,2.953,1.2319,9.5217,13.8492,6.5812,9.2958,0.4192,9.745
TCGA-44-6778-01,9.6205,7.9642,1.5378,11.8432,11.0531,10.9005,12.4145,4.5366,2.0609,4.1805,...,0.0,2.0609,6.1839,4.1291,8.9832,12.3412,9.0862,10.4779,9.4517,10.4395

In [5]:
df.columns = df.iloc[0]

In [6]:
df.head()

Sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
Sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-S9-A7J2-01,10.9576,4.8099,0.4657,11.2675,10.1761,10.4769,13.0456,3.2299,0.4657,8.7533,...,0.0,1.3357,2.9741,0.0,9.2594,9.4779,6.1595,9.6465,0.0,9.4848
TCGA-G3-A3CH-11,11.0186,5.3847,0.0,11.669,11.398,10.8249,11.5487,3.5408,1.4714,7.9144,...,0.0,3.5408,5.5302,0.0,7.5066,10.5302,7.3741,13.0045,7.0466,10.3411
TCGA-EK-A2RE-01,9.7106,2.8888,0.4192,11.4903,11.7371,9.9473,10.841,2.5988,0.0,3.9541,...,0.7436,0.0,2.953,1.2319,9.5217,13.8492,6.5812,9.2958,0.4192,9.745
TCGA-44-6778-01,9.6205,7.9642,1.5378,11.8432,11.0531,10.9005,12.4145,4.5366,2.0609,4.1805,...,0.0,2.0609,6.1839,4.1291,8.9832,12.3412,9.0862,10.4779,9.4517,10.4395

In [7]:
df.drop('Sample', axis=0, inplace=True)

In [9]:
label_df = pd.read_csv(labels, sep = '\t')

In [10]:
label_df.head()

,sample,sample_type_id,sample_type,_primary_disease
0,TCGA-D3-A1QA-07,7.0,Additional Metastatic,skin cutaneous melanoma
1,TCGA-DE-A4MD-06,6.0,Metastatic,thyroid carcinoma
2,TCGA-J8-A3O2-06,6.0,Metastatic,thyroid carcinoma
3,TCGA-J8-A3YH-06,6.0,Metastatic,thyroid carcinoma
4,TCGA-EM-A2P1-06,6.0,Metastatic,thyroid carcinoma

In [11]:
label_df.set_index('sample', inplace=True)

In [12]:
print('Shape of data: ', df.shape)
print('Shape of label: ', label_df.shape)

Shape of data:  (10459, 20530)
Shape of label:  (12804, 3)

In [13]:
data_full = df.join(label_df[['_primary_disease']])

In [14]:
data_full.shape

(10459, 20531)

In [16]:
data_full.to_csv('GDCdata/data_30_cancer.csv')